<div class="features_container">
  <section>
    <button class="market">OUR BEST FEATURES</button>
    <h1>
      Unleash Your Full <br />
      Healthy Potential with <br />
      Our Features
    </h1>
    <p>
      Discover trusted healthcare providers, compare costs <br />transparently,
      and book appointments with ease all in one place
    </p>
    <button class="link btn">Learn More</button>
  </section>
  <section class="section_card">
    <div class="card">
      <img
        ngSrc="/assets/solar_hospital-outline.png"
        alt="solar_hospital-outline"
        height="35"
        width="35"
      />
      <h4>Find Trusted Healthcare Providers</h4>
      <p>
        Use advanced filters to find doctors and specialists near you based on
        location, specialization, insurance coverage, language, and
        availability.
      </p>
    </div>
    <div class="card">
      <img
        ngSrc="/assets/bi_receipt.png"
        alt="Receipt"
        height="35"
        width="35"
      />
      <h4>Transparent Pricing</h4>
      <p>
        No hidden fees. Compare consultation costs and accepted insurance plans
        before booking your appointment.
      </p>
    </div>
    <div class="card">
      <img
        ngSrc="/assets/icon-park-outline_appointment.png"
        alt="sthethoscope"
        height="35"
        width="35"
      />
      <h4>Easy Appointment Booking</h4>
      <p>
        Book, reschedule, or cancel appointments seamlessly. Get real-time
        availability updates from healthcare providers.
      </p>
    </div>
    <div class="card">
      <img
        ngSrc="/assets/fluent_payment-16-regular.png"
        alt="credit card"
        height="35"
        width="35"
      />
      <h4>Secure & Convenient Payments</h4>
      <p>
        Pay securely using your preferred method—credit/debit cards, mobile
        wallets, or insurance coverage.
      </p>
    </div>
  </section>
</div>
