<div class="stages_container">
  <button>How its works</button>
  <h2>
    Simple. Fast. Hassle Free <br />
    Healthcare Access
  </h2>
  <p>
    Getting the care you need has never been easier. Follow these three simple
    steps to find <br />
    a provider, book an appointment, and stay on top of your health.
  </p>
  <section class="steps">
    <div class="steps card">
      <div class="img">
        <img
          src="assets/Image.png"
          alt="A doctor with stethoscope"
          width="160"
          height="160"
        />
      </div>
      <section>
        <h4>Step 1 - Find the right doctor for your needs</h4>
        <p>
          Use smart filters to search by location, specialization, insurance
          coverage, availability, and more.
        </p>
        <button class="link btn">Learn More</button>
      </section>
    </div>
    <div class="steps card">
      <div class="img">
        <img
          src="/assets/Image-2.png"
          alt="hands typing on a table with sthescope"
          width="160"
          height="160"
        />
      </div>
      <section>
        <h4>Step 2 - Schedule in just a few clicks</h4>
        <p>
          Choose a convenient time slot, confirm your booking, and receive
          instant appointment notifications.
        </p>
        <button class="link btn">Learn More</button>
      </section>
    </div>
    <div class="steps card">
      <div class="img">
        <img
          src="/assets/Image-3.png"
          alt="A doctor taking with a patient"
          width="160"
          height="160"
        />
      </div>
      <section>
        <h4>Step 3 - Attend your appointment and share your experience</h4>
        <p>
          Meet with your provider in person and leave a review to help others
          make informed choices.
        </p>
        <button class="link btn">Learn More</button>
      </section>
    </div>
  </section>
</div>
