@import "../../../variable.scss";
fieldset {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
.spec {
  button {
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $navblue;
  }
}
.array {
  display: flex;
  gap: 5px;
  align-items: center;
  button {
    margin: 0;
  }
}
