<div class="partner_container">
  <p>Powering with the World’s Best Organizations.</p>
  <p>From Next-Gen Startups in Healthcare to established Enterprises.</p>
  <div class="partners">
    <img
      ngSrc="assets/axa_logo.svg.png"
      alt="axa_logo"
      width="90"
      height="90"
    />
    <div>
      <img
        ngSrc="/assets/Group.png"
        alt="The world bank"
        height="26"
        width="300"
      />
      <img
        class="image2"
        ngSrc="/assets/Group-2.png"
        alt="Ibrd"
        height="14"
        width="88"
      />
    </div>

    <img
      ngSrc="assets/gsk_logo.svg.png"
      alt="gsk logo"
      width="150"
      height="45"
    />
    <img
      ngSrc="/assets/flutterwave_logo.svg.png"
      alt="flutter wave logo"
      height="50"
      width="258"
    />
  </div>
</div>
